.BTS1_sub1{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem ;
    border-bottom: 1px solid #3A444C;
}

.BTS1_sub1 span{
    font-size: 1.3rem;
    color: #4BA0EC;
}

.BTS1_sub1 div p{
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.BTS1_sub1 div span{
    font-weight: 400;
    font-size: 1.1rem;
    color: #8A98A4;
}

.BTS1_sub2{
    position: relative;
}

.BTS1_sub2_img1_cont{
    width: 100%;
    height: 14rem;
}

.BTS1_sub2_img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.BTS1_sub2_img2_cont{
    position: absolute;
    left: 15px;
    bottom: -65px;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.BTS1_sub2_img2{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.BTS1_sub3{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.BTS1S3_sub1 span{
    width: fit-content;
    height: fit-content;
    padding: 0.9rem;
    border-radius: 50%;
    border: 1px solid #4BA0EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BTS1S3_sub1 span i{
    font-size: 1.3rem;
    color: #4BA0EC;
}

.BTS1S3_sub2 span{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0.9rem;
    border-radius: 50%;
    border: 1px solid #4BA0EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus{
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 0.8rem;
}

.BTS1S3_sub2 span i{
    font-size: 1.3rem;
    color: #4BA0EC;
}

.BTS1S3_sub3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BTS1S3_sub3 button{
    font-family: "Roboto" sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 100px;
    background-color: #4BA0EC;
    border: none;
    text-align: center;
}

.BT_sub2{
    padding: 0.5rem 1rem;
}

.BT_S2_sub1{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.BT_S2_S1_sub1 h1{
    font-weight: 700;
    font-size: 1.3rem;
}

.BT_S2_S1_sub1 p{
    font-weight: 400;
    font-size: 1.1rem;
    color: #8A98A4;
}

.BT_S2_S1_sub2 p{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 118%;
}

.BT_S2_sub2{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 0.6rem 0;
}

.BT_S2_S2_sub1{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.BT_S2_S2_sub1 span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.BT_S2_S2_sub1 span{
    color: #8A98A4;
    font-weight: 400;
    font-size: 1rem;
}

.BT_S2_S2_sub1 span a{
    color: #4BA0EC;
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

.BT_S2_S2_sub2{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.BT_S2_S2_sub2 p{
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #8A98A4;
}

.BT_S2_S2_sub2 p span{
    font-weight: 700;
    font-size: 1rem;
}

.BT_S2_S2_sub3{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.BT_S2_S2_S3_sub1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BT_S2_S2_S3_sub1 div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #4BA0EC;
    border: 1px solid;
}

.BT_S2_S2_S3_sub2 p{
    font-weight: 400;
    font-size: 0.8rem;
    color: #8A98A4;
}

.body_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.body_link div{
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

.body_link div:hover{
    border-bottom: 4px solid #4BA0EC;
}

.body_link div a{
    font-weight: 700;
    font-size: 1.1rem;
    color: #8A98A4;
    text-decoration: none;
}

.body_link div a:hover{
    color: #4BA0EC;
}

#body_bottom{
    display: flex;
    gap: 1.5rem;
    border-top: 1px solid #3A444C;
    border-bottom: 1px solid #3A444C;
    padding: 0.7rem 1.1rem;
}

.BB_sub1{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.BB_sub1 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: contain;
}

.BB_S2_sub1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BB_S2_sub1 p{
    font-weight: 400;
    font-size: 1.1rem;
    color: #8A98A4;
}

.BB_S2_sub1 p span{
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.BB_S2_sub1 i{
    font-size: 1.1rem;
    color: #8A98A4;
}

.BB_S2_sub2 p{
    font-weight: lighter;
    font-size: 1rem;
}

.BB_S2_sub2 p a{
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #4BA0EC;
}

.BB_S2_sub3{
    margin: 0.7rem 0;
    width: 30rem;
    height: 16.7rem;
    border-radius: 1rem;
}

.BB_S2_sub3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.BB_S2_sub4{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.BB_S2_sub4 span{
    font-size: 1rem;
    color: #8A98A4;
    padding: 0.5rem 0;
}

.BB_S2_sub4_span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
























